<h2>Products</h2>

<section class="products">

	<% @products.each do |product| %>

		<div class="product">

			<div class="image">
				<% link_to product_path(product) do %>
					<%= image_tag product.image.url(:thumb) %>
				<% end %>

			</div>


		
			<div class = "info">
				<%= link_to product_path(product) do %>
					<h4><%= product.name %></h4>
				<% end %>
				<p><%= product.description.truncate(70, separator: /\s/) %></p>
				<small><%= number_to_currency(product.price_in_pence.to_f/100, unit: "£") %></small>
			</div>
		<div class="actions">
			<!-- if logged in AND  user is owner -->
			<%= link_to "Edit", edit_product_path(product) %>
			<%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "are you sure you want to delete that?"} %>
			<!--  -->
		</div>
	</div>
	
<% end %>

</section>