<h1>Products</h1>

<% @products.each do |product| %>
<h3><%= product.name %></h3>

<p><%= product.description %></p>

<small><%= product.price_in_pence %>p</small>

<div class="actions">
	<!-- if logged in AND  user is owner -->
	<%= link_to "Edit", edit_product_path(product) %>
	<%= link_to "Delete", product_path(product), method: :delete %>
	<!--  -->
</div>

<% end %>