<h2>Submit a new product below</h2>

<%= simple_form_for @products |form| %>
	<%= f.input :name %>
	<%= f.input :description %>
	<%= f.input :price_in_pence %>

	<%= f.button :submit %>


<%end%>