<!DOCTYPE html>
<html>
<head>
  <title>Merch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<nav>
			<%= link_to "Home", root_path %>
			<!-- Only show the "Add" link to nav bar if logged in-->
			<!-- Add if logged in-->

			<%= link_to "Add a product", new_product_path %>
			<!-- else log in-->
			<%= link_to "Log In", "#" %>


		</nav>
	</header>

<%= yield %>

</body>
</html>
