<!DOCTYPE html>
<html>
<head>
  <title>Merch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<nav>
			<%= link_to root_path do %>
				<h1>Home</h1>
			<% end %>
			<!-- Only show the "Add" link to nav bar if logged in-->
			
			<div class="user-actions">
				<% if current_user? %>
					<%= link_to current_user.email, user_path(current_user) %>
					<%= link_to "Add a product", new_product_path %>
					<%= link_to "Log out", session_path, method: :delete %>
				<!-- else log in-->
				<% else %>
					<%= link_to "Log In", new_session_path %>
				<% end %>
			</div>

		</nav>
	</header>

<% flash.each do |key, value| %>
	<div class="<%= key %>">
	<p><%= value %></p>
	</div>
<% end %>

<%= yield %>

</body>
</html>
